/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --accent-text-color: #353430;
  --accent-header-color: #ffc2e6;
  --opacity-accent-color: rgb(53, 52, 48, 0.4);

  --shadow-header-color: #FF0070;
  --description-text-color: #353030;
  
  --main-font: "IBM Plex mono", Arial, sans-serif;
  --distance-element: 20px;
  --block-size: 768px;
}
